<% include partials/header %>

    <div class="ui main text container segment">
        <div class="ui huge header">Edit Blog Post</div>
        <!-- Use method override to turn PUT to POST -->
        <form class="ui form" action="/blogs/<%= blog._id %>?_method=PUT" method="POST">
            <div class="field">
                <label for="">Title</label>
                <input type="text" name="blog[title]" placeholder="Title" value="<%= blog.title %>" required>
            </div>
            <div class="field">
                <label for="">Image URL</label>
                <input type="text" name="blog[image]" placeholder="Image" value="<%= blog.image %>">
            </div>
            <div class="field">
                <label for="">Blog Content</label>
                <textarea name="blog[body]" id="" cols="10" placeholder="Blog post goes here" required><%= blog.body %></textarea>
            </div>
            <div class="field">
                <input type="submit" class="ui green big basic button">
            </div>
        </form>
    </div>

    <div class="ui main text container field">
        <a href="/blogs/<%= blog._id %>" class="ui basic"><< Back</a>
    </div>

<% include partials/footer %>